

header {
    display: flex;
    background-color: #3D184E;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px;
}

.HeaderImgs {
    align-self: flex-end;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    background-color: #3D184E;
    list-style: none;
}

header ul {
    float: right;
    color: white;
}

header li {
    display: inline-block;
}

header button {
    width: 100px;
    height: 50px;
    
}

footer {
    background-color: #051126;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FooterSubscription {
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.input-group-append {
    padding: 10px;
}

.FooterSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FooterGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.FooterCopyright {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.FooterDonateVolunteer {
    
}

.Donate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.DonateIconGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.DonateGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: flex-start;
}

.DonationBox {
    text-align: center;
}

.OtherDonationMethod {
    display: flex;
    flex-direction: column;
    align-items: center;
}