

header {
    display: flex;
    background-color: #3D184E;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

.HeaderImgs {
    display: flex;
    align-items: flex-end;
}

.navLinks {
    display: flex;
    align-items: flex-end;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    background-color: #3D184E;
    list-style: none;
    padding-inline-start: 0px;
    margin-right: 40px;
}

header ul {
    float: right;
    color: white;
}

header li {
    display: inline-block;
    margin-left: 16px;
}

header button {
    width: 100px;
    height: 50px;
    transition-duration: .4s;
    
}

header button:hover {
    background-color: #2E97A9;
    color: white;
}

.DonateHeroSpace {
    width: 100%;
}

.HiddenIcon {
    display: none;
}

footer {
    background-color: #051126;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.FooterSubscription {
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.input-group-append {
    padding: 10px;
}

.FooterSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FooterGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.FooterCopyright {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.FooterContact {
    padding-left: 30%;
}

.FooterLogo {
    padding-left: 10%;
}

.Donate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.DonateIconGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.DonateGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: flex-start;
}

.DonationBox {
    text-align: center;
}

.OtherDonationMethod {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.btn btn-outline-secondary {
    transition-duration: .4s;
    background-color: white;
    color: black;
}

.btn btn-outline-secondary:hover {
    background-color: #2E97A9;
    color: white;
}